.photo-grid {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 425px) {
  .photo-grid {
    gap: 12px;
  }
}
