.photo-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  max-width: 1363px; /* Не даю появляться пятой колонке, потому что тогда последняя строка заполняется не целиком */
  gap: 16px;
}

@media screen and (max-width: 425px) {
  .photo-grid {
    gap: 12px;
  }
}
