.lead {
  row-gap: 32px;
  justify-items: center;
}

.lead > * {
  grid-column: 3;
}

@media screen and (max-width: 840px) {
  .lead {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    row-gap: 16px;
  }
}
