.lead__image-wrapper {
  margin: 0;
}

/* Убирает лишний отступ под изображением */
.lead__image-wrapper * {
  display: block;
}

@media screen and (max-width: 840px) {
  .lead__image-wrapper {
    grid-column: 1 / -1;
  }
}
