.lead__image {
  width: 100%;
  transition: margin ease-in-out 300ms;
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100vw;
    margin-left: -24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    margin-left: -16px;
  }
}
