.page__grid {
  display: grid;
  width: 100%;
  grid-template-columns: 48px 1fr minmax(min-content,984px) 1fr 48px;
  grid-column: 1 / -1;
}

@media screen and (max-width: 840px) {
  .page__grid {
    grid-template-columns: 24px 0 1fr 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .page__grid {
    grid-template-columns: 16px 0 1fr 0 16px;
  }
}
