.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 32px;
  text-decoration: none;
  color: white;
  position: relative;
  width: 1360px;
  aspect-ratio: 1.6;
  margin: 0 auto;
  background-image: url(../../images/cover_background-mobile.jpg);
  background-size: cover;
}

@media screen and (max-width: 1455px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    width: calc(100% + 48px*2);
    margin-left: -48px;
  }
}

@media screen and (max-width: 800px) {
  .cover {
    width: calc(100% + 24px*2);
    margin-left: -24px;
  }
}

@media screen and (max-width:600px) {
  .cover {
    row-gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    width: calc(100% + 16px*2);
    margin-left: -16px;
    background-image: url(../../images/cover_background-mobile.jpg);
  }
}
