.lead__image-caption {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 8px;
  transition: margin-left ease-in-out 300ms;
}

@media screen and (max-width: 1016px) {
  .lead__image-caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__image-caption {
    margin-left: 16px;
  }
}
