.page__section {
  grid-column: 3;
  padding: 46px 0;
}

@media screen and (max-width: 840px) {
  .page__section {
    padding: 44px 0;
  }
}

@media screen and (max-width: 425px) {
  .page__section {
    padding: 32px 0;
  }
}
