.place {
  display: grid;
  max-width: 984px;
  margin: 0 auto;
  grid-template-columns: 1fr 50%;
  gap: 48px 4%;
}

.place:not(:last-child) {
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .place:not(:last-child) {
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 520px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .place:not(:last-child) {
    padding-bottom: 50px;
  }
}
