.place {
  display: grid;
  grid-column: 3;
  grid-template-columns: 1fr 50%;
  gap: 48px 4%;
}

.place:not(:last-child) {
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .place:not(:last-child) {
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-column: 1 / -1;
    grid-template-columns: 24px 1fr 24px;
    gap: 32px 0;
  }

  .place:not(:last-child) {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: 16px 1fr 16px;
  }
}
