.cover__text-wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 32px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width:600px) {
  .cover__text-wrapper {
    row-gap: 16px;
  }
}
