.place__url {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: end;
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  .place__url {
    grid-column: 2 / -2;
  }
}
