.intro__content {
  max-width: 690px;
  transition: all ease-in-out 300ms;
}

@media screen and (max-width:1016px) {
  .intro__content {
    max-width: none;
  }
}

@media screen and (max-width:768px) {
  .intro__content {
    width: calc(100% - 48px);
    padding: 0 24px;
  }
}

@media screen and (max-width:425px) {
  .intro__content {
    width: calc(100% - 32px);
    padding: 0 16px;
  }
}
